<div class="justify-content-center text-center mt-5">
    <div class="row">
        <a class="col-6" routerLink="/">
            <div class="text-uppercase p-5 shadow-lg rounded">
                <p class="m-0">Home</p>
            </div>
        </a>
        <a class="col-6" routerLink="/images">
            <div class="text-uppercase p-5 shadow-lg rounded">
                <p class="m-0">Images</p>
            </div>
        </a>
    </div>
    <div class="row">
        <a routerLink="/upload">
            <div class="text-uppercase p-5 mt-3 shadow-lg rounded">
                <p class="m-0">Upload</p>
            </div>
        </a>
    </div>
</div>